.menu-heading{
    .title{
        text-align: center;
        margin: 20px 0 50px;
    }
}

.menu-nav{
    a{
        text-decoration: none;
        color:gold;
        padding: 5px 10px;
        margin-right:20px;
    }
}