.menu-heading{
    .title{
        text-align: center;
        margin: 20px 0 50px;
    }
}

.menu-nav{
    button{
        color:gold;
        padding: 5px 10px;
        margin-right:20px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
    }
}